<x-layout>
  <header>
    <x-appbar>
      <button>&lt;</button>
      <h1><%= _.classify(appname) %></h1>
      <button>?</button>
    </x-appbar>
  </header>
  <section>
    {{outlet}}
  </section>
  <footer>
    &copy;
  </footer>
</x-layout>
